.banner {
    background-image: url(../img/frontend/about_us/top_banner.png);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-position: center center; */
    height: 600px;
    margin-top: 6rem;
}


.bottom-banner {
    background-image: url(../img/frontend/about_us/banner.png);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-position: center center; */
    height: 725px;
}

.about-center-txt {
    margin: 30px 0;
}

.about-bottom-topic {
    margin-top: 45px;
}


.about-hidden-title {
    opacity: 0.1;
    color: #0090FF;
    position: absolute;
    font-size: 80px;
    white-space: nowrap;
    top: -43px;
}

.about-title-box {
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.about-title {
    color: #0090FF;
    font-size: 40px;
    text-align: center;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    display: block;
}

.message-area {
    margin-left: 45px;
    margin-right: 45px;
}

.card.custom-shadow {
    height: 100%;
}

@media screen and (max-width: 576px) {
    .banner {
        height: auto!important;
    }
    .banner iframe {
        height: 250px!important;
    }
    .bottom-banner {
        height: auto!important;
        margin-bottom: 4rem;
    }
    .bottom-banner .large-title {
        top: -1.5rem!important;
    }
    .bottom-banner .display-2 {
        font-size: 4rem!important;
    }
    .bottom-banner .container {
        padding-top: 5rem!important;
    }

    .about-hidden-title  {
        font-size: 50px;
        top: -15px;
    }

    .about-title {
        font-size: 25px;
    }
}


/*mobile-view*/
@media screen and (max-width: 767px) { 
    .card.custom-shadow {
        height: 14.6rem !important;
    }

    .message-area {
        margin-left: 0;
        margin-right: 0;
    }

    .about-title {
        margin-top: 30px;
    }
}


/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
    .vision-container {
        padding-top: 4rem !important;
    }

    .manager-row {
        margin-top: 120px;
    }

}
