.banner {
    background-image: url(../img/frontend/about_us/top_banner.png);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-position: center center; */
    height: 600px;
    margin-top: 6rem;
}


.bottom-banner {
    background-image: url(../img/frontend/about_us/banner.png);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-position: center center; */
    height: 450px;
}




@media screen and (max-width: 576px) {
    .banner {
        height: auto!important;
    }
    .banner iframe {
        height: 250px!important;
    }
    .bottom-banner {
        height: auto!important;
        margin-bottom: 4rem;
    }
    .bottom-banner .large-title {
        top: -1.5rem!important;
    }
    .bottom-banner .display-2 {
        font-size: 4rem!important;
    }
    .bottom-banner .container {
        padding-top: 5rem!important;
    }
}

