.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 550px;
}




.about-cards {
    border-radius: 50px;
    -webkit-box-shadow: -1px 1px 13px 1px rgba(0,126,235,0.77);
    -moz-box-shadow: -1px 1px 13px 1px rgba(0,126,235,0.77);
    box-shadow: -1px 1px 13px 1px rgba(0,126,235,0.77);
    position: absolute;
    z-index: 1;
    top: -2rem;
    background-color: white;
    padding: 1.5rem 1.7rem;
}
.about-cards img {
    height: 3rem;
}
.about-main {
    border-radius: 10px;
}
.about-main .card-body {
    padding-top: 4rem;
    padding-bottom: 0.5rem;
}




.products-banner {
    background-image: url('../img/frontend/index/product_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
}
.mySwiper1 .card {
    background: rgba(255, 255, 255, .8);
    border-radius: 30px;
}
.gold {
    color: #FCCA25;
    border: #FCCA25;
}
.center-image {
    height: 15rem!important;
}




.new-banner {
    background-image: url('../img/frontend/index/new_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
}

.other-banner {
    background-image: url('../img/frontend/index/other_banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 550px;
}


.other-banner .swiper-button-next:after, .other-banner .swiper-button-prev:after {
    font-size: 2rem!important;
}

/* .other-banner .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 110px!important;
    top: 21rem!important;
}

.other-banner .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 110px!important;
    top: 21rem!important;
} */
.banner .swiper-button-next, .banner .swiper-button-prev {
    top: 55%!important;
}




@media screen and (max-width: 576px) {
    .banner {
        background-attachment: initial!important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        height: 230px!important;
    }
    .banner .container {
        padding-top: 4rem!important;
    }
    .banners .swiper-button-next:after, .banners .swiper-button-prev:after {
        font-size: 1.7rem!important;
    }
    .banners .swiper-button-next, .banners .swiper-rtl .banners .swiper-button-prev {
        right: 0px!important;
        left: auto;
    }
    .banners .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: 0px!important;
        right: auto;
    }
    .banners .swiper-button-next, .banners .swiper-button-prev {
        top: 45%!important;
    }
    .new-banner {
        height: auto!important;
        padding-bottom: 4rem;
    }
    .other-banner {
        height: auto!important;
        padding-bottom: 4rem;
    }
    .new-banner .container .row {
        padding-top: 1rem!important;
    }
    .mySwiper1 .card .card-body img {
        height: 8rem!important;
    }
    .products-banner {
        height: auto!important;
        padding-bottom: 2rem;
        margin-top: 0!important;
    }
    .banners {
        margin-top: 7.9rem!important;
    }
    .about-us {
        margin-top: 3rem!important;
    }
    .about-us h1 {
        font-size: 1.8rem!important;
    }
    .about-us-row {
        margin-top: 4rem!important;
    }
    .about-us-row .col-12 {
        margin-bottom: 4rem!important;
    }
    .banner h1 {
        font-size: 1.6rem!important;
        text-align: center;
    }
    .banner p {
        font-size: 0.9rem!important;
        text-align: center;
    }
    .products-banner .swiper-button-next:after, .products-banner .swiper-button-prev:after {
        font-size: 1.7rem!important;
    }
}