.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 550px;
}




.about-cards {
    border-radius: 50%;
    -webkit-box-shadow: -1px 1px 13px 1px rgba(0,126,235,0.77);
    -moz-box-shadow: -1px 1px 13px 1px rgba(0,126,235,0.77);
    box-shadow: -1px 1px 13px 1px rgba(0,126,235,0.77);
    position: absolute;
    z-index: 1;
    top: -2rem;
    background-color: white;
    padding: 1.5rem 1.7rem;
}

.about-main {
    border-radius: 10px;
    height: 320px;
}
.about-main .card-body {
    padding-top: 4rem;
    padding-bottom: 0.5rem;
}

.about-img {
    height: unset !important;
}

.limit-card-text {
    max-height: 95px;
    overflow: hidden;
    text-overflow: ellipsis;
}

img.round-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.logo-bar {
    display: flex;
    justify-content: center;
}

.logo-bar img {
    width: auto;
    margin-right: 15px;
}


.view-more-wrapper {
    width: 100%;
    display: block;
    height: 100px;
}

.view-more-wrapper a {
    display: block !important;
    height: max-content;
    width: max-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.products-banner {
    background-image: url('../img/frontend/index/product_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
}
.mySwiper1 .card {
    background: rgba(255, 255, 255, .8);
    border-radius: 30px;
}
.gold {
    color: #FCCA25;
    border: #FCCA25;
}
.center-image {
    height: 15rem!important;
}




.new-banner {
    background-image: url('../img/frontend/index/new_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
}

.other-banner {
    background-image: url('../img/frontend/index/other_banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 650px;
}

.narrow-para {
    margin: 15px 60px;
}


.other-banner .swiper-button-next:after, .other-banner .swiper-button-prev:after {
    font-size: 2rem!important;
}

/* .other-banner .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 110px!important;
    top: 21rem!important;
}

.other-banner .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 110px!important;
    top: 21rem!important;
} */
.banner .swiper-button-next, .banner .swiper-button-prev {
    top: 55%!important;
}

.swipper-with-bottom-caption {
    padding-bottom: 60px;
    position: relative;
}

.bold-arrow {
    font-weight: bold;
}

.bottom-caption {
    position: absolute;
    bottom: -45px;
    color: #00acee !important;
    text-transform: uppercase;
}

.view-more-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.news-link {
    text-align: right;
    margin-left: auto;
    display: block;
    padding: 5px;
    font-size: 0.8rem;
}

.news-link:hover {
    color: #00ACEE;
    text-decoration: none;
    text-shadow: 2px 2px 8px #00ACEE;
}

@media screen and (max-width: 576px) {
    .banner {
        background-attachment: initial!important;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 150px!important;
    }
    .banner .container {
        padding-top: 4rem!important;
    }
    .banners .swiper-button-next:after, .banners .swiper-button-prev:after {
        font-size: 1.7rem!important;
    }
    .banners .swiper-button-next, .banners .swiper-rtl .banners .swiper-button-prev {
        right: 0px!important;
        left: auto;
    }
    .banners .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: 0px!important;
        right: auto;
    }
    .banners .swiper-button-next, .banners .swiper-button-prev {
        top: 45%!important;
    }
    .new-banner {
        height: auto!important;
        padding-bottom: 4rem;
    }
    .other-banner {
        height: auto!important;
        padding-bottom: 4rem;
    }
    .new-banner .container .row {
        padding-top: 1rem!important;
    }
    .mySwiper1 .card .card-body img {
        height: 8rem!important;
    }
    .products-banner {
        height: auto!important;
        padding-bottom: 2rem;
        margin-top: 0!important;
    }
    .banners {
        margin-top: 4rem!important;
    }
    .about-us {
        margin-top: 3rem!important;
    }
    .about-us h1 {
        font-size: 1.5rem!important;
    }
    .about-us-row {
        margin-top: 4rem!important;
    }
    .about-us-row .col-12 {
        margin-bottom: 4rem!important;
    }
    .banner h1 {
        font-size: 1.6rem!important;
        text-align: center;
    }
    .banner p {
        font-size: 0.9rem!important;
        text-align: center;
    }
    .products-banner .swiper-button-next:after, .products-banner .swiper-button-prev:after {
        font-size: 1.7rem!important;
    }

}

.des-txt p {
    font-size: 1.1rem;
    font-weight: bold;
}

.des-txt {
    margin-top: 30px;
}

/*large screen*/
@media screen and (min-width: 1400px) {
   .banner {
       height: 800px;
   }
}


.card-link:hover {
    text-decoration: none;
}

.more-btn {
    background-color: #00ACEE;
    color: #fff !important;
    border-radius: 0;
    margin-top: 15px;
}


/*mobile-view*/
@media screen and (max-width: 767px) { 
    .logo-bar {
        flex-direction: column;
    }

    .about-cards {
        width: 80px;
        height: 80px;
    }

    .swiper-button-next, .swiper-button-prev {
        top: 40%;
    }

    .narrow-para {
        margin: 0 !important;
        margin-top: 15px !important;
    }
    
    h1 {
        font-size: 1.7rem;
        margin-bottom: 15px !important;
    }

    .navbar-nav {
        background-color:#00011c;
    }

    img.round-img {
        position: relative;
        left: -5px;
    }

    .about-main {
        height: 375px;
    }

    .logo-bar img {
        height: auto;
        margin-right: 0;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
    }

    #auxein {
        margin-top: 30px;
    }

    img#app-sinarmas {
        width: max-content;
        margin-left: auto;
        margin-right: auto;
    }

}


/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
    .banner   {
        height: 350px;
    }

    #auxein {
        margin-top: 30px;
    }

    .narrow-para {
        margin: 0 !important;
        margin-top: 15px !important;
        margin-bottom: 30px !important;
    }

    

    .logo-bar img {
        height: 60px;
        margin-right: 0;
    }

    img.round-img {
        position: relative;
        left: -15px;
    }

    .logo-bar img {
        height: auto;
        margin-right: 0;
    }

    .about-main {
        height: 440px;
    }

    .mySwiper1 .card .card-body img {
        height: 140px !important;
    }

    .logo-bar {
        flex-direction: column;
        align-items: center;
    }

    .logo-bar img {
        width: max-content;
    }

}


