.banner {
    background-image: url(../img/frontend/other_products/banner.png);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
    height: 650px;
}



.kayak-products .nav-link {
    border: 1px solid #00ACEE;
    border-radius: 0!important;
    width: 100%!important;
    text-align: left;
    padding: 1rem 1.25rem!important;
    color: black;
}
.kayak-products .nav-link i {
    float: right;
    transition: transform .2s ease-in-out;
    color: #00ACEE;
}

.rotate {
    transform: rotate(-45deg)!important;
}

.tab-content .col-md-5 img {
    object-fit: cover;
    border: 1px solid #00ACEE;
    border-radius: 8px;
    height: 15rem;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='%2300ACEE' class='bi bi-plus-lg' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z'/></svg>");
    width: 1rem!important;
    height: 1rem!important;
    background-size: 1rem!important;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='%2300ACEE' class='bi bi-plus-lg' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z'/></svg>");
    transform: rotate(-45deg)!important;
}

.accordion-header {
    border: 1px solid #00ACEE;
    font-weight: 700;
}

.accordion-button {
    background-color: #efefef;
}

.kayak-products-main {
    min-height: 800px;
    height: inherit;
}

.detail-space  {
    margin-left: 5px;
}

.kayak-product-sub-list li {
    width: 100%;
}

.kayak-product-sub-list {
    max-height: 222px;
    overflow-y: scroll;
    list-style: none;
    padding-left: 0;
}

.main-product {
    margin-bottom: 15px !important;
}

.product-box {
    display: inline-flex;
    padding-left: 5px;
}

.inner-navlink {
    background-color: #00ACEE;
    border-radius: 4px;
    width: 95%;
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
    text-align: left;
}

/* .multiple .col-md-3 {
    background-color: #E9E9E9;
}
.multiple2 .col-md-3 {
    background-color: #E9E9E9;
}
.multiple3 .col-md-3 {
    background-color: #E9E9E9;
}
.multiple4 .col-md-3 {
    background-color: #E9E9E9;
}
.multiple5 .col-md-3 {
    background-color: #E9E9E9;
}
.multiple6 .col-md-3 {
    background-color: #E9E9E9;
} */

.multiple .col-md-3 img {
    object-fit: cover;
    height: 5rem;
    cursor: pointer;
}
.multiple2 .col-md-3 img {
    object-fit: cover;
    height: 5rem;
    cursor: pointer;
}
.multiple3 .col-md-3 img {
    object-fit: cover;
    height: 5rem;
    cursor: pointer;
}
.multiple4 .col-md-3 img {
    object-fit: cover;
    height: 5rem;
    cursor: pointer;
}
.multiple5 .col-md-3 img {
    object-fit: cover;
    height: 5rem;
    cursor: pointer;
}
.multiple6 .col-md-3 img {
    object-fit: cover;
    height: 5rem;
    cursor: pointer;
}

.inquire button {
    background-color: #00ACEE;
}

hr:not([size]) {
    height: 0px!important;
}

/*product slider*/
.content-wrapper {
    background-color: #eee;
    padding: 25px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.spec-row {
    display: flex;
    flex-direction: row;
}

.spec {
    display: block;
    font-size: 0.9rem;
    padding-right: 5px;
    font-weight: bold;
}

.inquire {
    margin-top: 15px;
}

.size-divider {
    padding-right: 15px;
}

body {
    font-family: Arial, sans-serif;
    background-size: cover;
  }
  
  h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 80px 0;
  }
  
  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #06D85F;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin-top: 20vh;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 75%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    margin-bottom: 15px;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 90%;
    overflow: auto;
  }

  .table-popup {
    border: 1px solid #000;
    margin-top: 15px;
  }

  .table-popup th {
      border: 1px solid #000;
  }

  .table-popup td {
        border: 1px solid #000;
        white-space: nowrap;
    }

.spec-img {
    width: 80%;
    display: block;
    height: 145px;
    margin-top: 15px;
}

.kayak-main-container {
    height: 100%;
    margin-bottom: 100px;
}

.pop-btn {
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    width: max-content;
    background: red;
    font-size: 0.8rem;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.btn-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.row-with-btn {
    display: flex;
    flex-direction: row;
}


.popup-btn {
    background: red;
    border-radius: 15px;
    padding: 10px;
    color: #fff;
    margin-top: 15px;
}

.popup-btn:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
}

.inquire-btn {
    background-color: #00ACEE !important;
    margin-left: 15px;
    border: 0;
}

button.popup-btn.inquire-btn:hover {
    text-decoration: none;
    background-color: #000 !important;
    color: #fff;
}

.product-varients-wrapper {
    display: flex;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
}

button.product-varient-btn {
    border-radius: 25px;
    padding: 5px 15px;
    margin-right: 15px;
    background-color: transparent;
    color: #00acee;
    border: 1px solid #00acee;
}

button.product-varient-btn-apron {
    border-radius: 25px;
    padding: 5px 15px;
    margin-right: 15px;
    background-color: transparent;
    color: #00acee;
    border: 1px solid #00acee;
}

button.product-varient-btn:hover, button.product-varient-btn.active {
    background-color:#00acee;
    color: #fff;
}

button.product-varient-btn-apron:hover, button.product-varient-btn-apron.active {
    background-color:#00acee;
    color: #fff;
}

  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }

@media screen and (max-width: 576px) {
    .banner {
        height: 100%!important;
        margin-bottom: 4rem;
    }
    .main-image {
        height: 10rem!important;
    }
    .main-image2 {
        height: 10rem!important;
    }
    .main-image3 {
        height: 10rem!important;
    }
    .main-image4 {
        height: 10rem!important;
    }
    .main-image5 {
        height: 10rem!important;
    }
    .main-image6 {
        height: 10rem!important;
    }
    .inquire {
        text-align: center!important;
    }
}


/*mobile-view*/
@media screen and (max-width: 767px) {
    .product-varients-wrapper {
        display: flex;
        margin-left: 0px; 
        font-size: 0.8rem;
        flex-direction: column;
    }

    button.product-varient-btn, button.product-varient-btn-apron {
        margin-top: 15px;
        margin-right: 0;
    }

    .popup-btn {
        font-size: 0.8rem;
    }

    .mobile-size-row {
        display: flex;
        flex-direction: column;
    }

    .popup {
        width: 90%;
    }


}


.active-kayak{
    background-color: #e7f1ff !important;
} 



.zoom-img {
    transition: transform .2s;
    z-index: 10000;
    background-color: #fff;
}

.zoom-img:hover {
    transform: scale(1.5);
    background-color: #fff;
}

.kayak-products-row {
    padding-left: 30px;
}

.toilet-paper-img {
    width: 250px;
}

.kayak-main-img-area {
    z-index: 2;
}

.kayak-sub-img-area {
    z-index: 1;
}

div#popup-tubes {
    z-index: 2;
}

/*mobile-view*/
@media screen and (max-width: 767px) {  
    .zoom-img {
        transition: transform .2s;
    }
    
    .zoom-img:hover {
        transform: scale(1.4);
        background-color: #fff;
    }

    .col-3.col-xs-12.text-center.me-1 {
        width: 100%;
        height: 100%;
        flex: 100%;
        max-width: 80%;
    }

    .kayak-products-row {
        padding-top: 30px;
    }
    
}

/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
    .kayak-main-container {
        margin-top: 75px;
    }

    .tab-content .col-md-5 img {
        height: 12rem;
    }

    .kayak-sub-img-box  {
        padding: 5px;
    }
}