.banner {
    background-image: url(../img/frontend/other_products/banner.png);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
    height: 650px;
    margin-top: 7rem;
}

.kayak-products .nav-link {
    border: 1px solid #00ACEE;
    border-radius: 0!important;
    width: 100%!important;
    text-align: left;
    padding: 1rem 1.25rem!important;
    color: black;
}
.kayak-products .nav-link i {
    float: right;
    transition: transform .2s ease-in-out;
    color: #00ACEE;
}

.rotate {
    transform: rotate(-45deg)!important;
}

.tab-content .col-md-5 img {
    object-fit: cover;
    border: 1px solid #00ACEE;
    border-radius: 8px;
    height: 15rem;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='%2300ACEE' class='bi bi-plus-lg' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z'/></svg>");
    width: 1rem!important;
    height: 1rem!important;
    background-size: 1rem!important;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='%2300ACEE' class='bi bi-plus-lg' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z'/></svg>");
    transform: rotate(-45deg)!important;
}

.accordion-header {
    border: 1px solid #00ACEE;
    font-weight: 700;
}

.accordion-button {
    background-color: #efefef;
}

.kayak-products-main {
    min-height: 800px;
    height: inherit;
}

.detail-space  {
    margin-left: 5px;
}

.kayak-product-sub-list li {
    width: 100%;
}

.kayak-product-sub-list {
    max-height: 222px;
    overflow-y: scroll;
}

.main-product {
    margin-bottom: 15px !important;
}

.product-box {
    display: inline-flex;
    padding-left: 5px;
}

.inner-navlink {
    background-color: #00ACEE;
    border-radius: 4px;
    width: 95%;
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
}

/* .multiple .col-md-3 {
    background-color: #E9E9E9;
}
.multiple2 .col-md-3 {
    background-color: #E9E9E9;
}
.multiple3 .col-md-3 {
    background-color: #E9E9E9;
}
.multiple4 .col-md-3 {
    background-color: #E9E9E9;
}
.multiple5 .col-md-3 {
    background-color: #E9E9E9;
}
.multiple6 .col-md-3 {
    background-color: #E9E9E9;
} */

.multiple .col-md-3 img {
    object-fit: cover;
    height: 5rem;
    cursor: pointer;
}
.multiple2 .col-md-3 img {
    object-fit: cover;
    height: 5rem;
    cursor: pointer;
}
.multiple3 .col-md-3 img {
    object-fit: cover;
    height: 5rem;
    cursor: pointer;
}
.multiple4 .col-md-3 img {
    object-fit: cover;
    height: 5rem;
    cursor: pointer;
}
.multiple5 .col-md-3 img {
    object-fit: cover;
    height: 5rem;
    cursor: pointer;
}
.multiple6 .col-md-3 img {
    object-fit: cover;
    height: 5rem;
    cursor: pointer;
}

.inquire button {
    background-color: #00ACEE;
}

hr:not([size]) {
    height: 0px!important;
}





@media screen and (max-width: 576px) {
    .banner {
        height: 100%!important;
        margin-bottom: 4rem;
    }
    .main-image {
        height: 10rem!important;
    }
    .main-image2 {
        height: 10rem!important;
    }
    .main-image3 {
        height: 10rem!important;
    }
    .main-image4 {
        height: 10rem!important;
    }
    .main-image5 {
        height: 10rem!important;
    }
    .main-image6 {
        height: 10rem!important;
    }
    .inquire {
        text-align: center!important;
    }
}