.multiple img {
    cursor: pointer;
}




@media screen and (max-width: 576px) {
    .title {
        font-size: 2rem!important;
        text-align: center;
        margin-bottom: 2rem!important;
    }
    /* .main-news img {
        height: 15rem!important;
    } */
    .main-images {
        height: 15rem!important;
    }
    .main-image {
        height: 15rem!important;
    }
    .other-images {
        height: 5rem!important;
    }
    .main-news h2 {
        font-size: 1.6rem!important;
    }
    .other-news {
        margin-top: 4rem!important;
    }
    .other-news h2 {
        font-size: 1.6rem!important;
    }
    .other-news p {
        -webkit-line-clamp: 7!important;
    }
    .other-news p {
        -webkit-line-clamp: 7!important;
    }
}

