.banner {
    background-image: url(../img/frontend/other_products/banner.png);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
    height: 800px;
    margin-top: 7rem;
}

.accordion-item {
    background-color: #fff;
    border: none!important;
}
.accordion-header {
    border: 1px solid #00ACEE;
    font-weight: 700;
}
.accordion-button:not(.collapsed) {
    color: black!important;
}
.nav .active {
    color: #00ACEE!important;
}


.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='%2300ACEE' class='bi bi-plus-lg' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z'/></svg>");
    width: 1rem!important;
    height: 1rem!important;
    background-size: 1rem!important;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='%2300ACEE' class='bi bi-plus-lg' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z'/></svg>");
    transform: rotate(-45deg)!important;
}

.tab-content img {
    object-fit: contain;
    border: 1px solid #00ACEE;
    border-radius: 8px;
    width: 100%;
}

.other-company-links:hover {
    text-decoration: none;
}

.other-company-links {
    margin: 15px 0;
}

.other-main img {
    width: 100%;
    margin: 30px 0;
}
.other-list {
    padding: 15px 45px;
    font-size: 0.9rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

img.img-fluid.ortho-img.pop-img {
    height: 100%;
}

.general-modal-content {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}


.other-more-link {
    text-align: right;
    border-radius: 25px;
    padding: 5px 15px;
    margin-right: 15px;
    background-color: transparent;
    color: #00acee;
    border: 1px solid #00acee;

}

.other-more-link:hover {
    text-decoration: none;
    background-color: #00ACEE;
    color: #fff;
}

.list-and-more-wrapper {
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
}

.container-fluid.banner.other-products {
    height: 100%;
    margin-bottom: 100px;
    margin-top: 0;
}


@media screen and (max-width: 576px) {
    .banner {
        height: 100%;
        margin-bottom: 3rem;
    }
    .other-products img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
    }
}

.ortho-img {
    width: 360px;
    height: 150px;
}

.general-img {
    width: auto;
    height: auto;
}

.other-row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}


/*mobile-view*/
@media screen and (max-width: 767px) {
    .other-row  {
        flex-direction: column;
    }

    .modal-content {
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 120px;
    }

    img.mosquito {
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .list-and-more-wrapper {
        flex-direction: column;
    }

    a.other-more-link {
        margin-top: 15px;
    }

}

/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
    .container-fluid.banner.other-products {
        margin-top: 75px;
        min-height: 550px;
    }
}



/*large screen*/
@media screen and (min-width: 1400px) {
   
}


/* .zoom-img {
    transition: transform .2s;
}

.zoom-img:hover {
    transform: scale(1.5);
    background-color: #fff;
} */

