.mySwiper1 .swiper-slide-next {
    height: 25rem!important;
}

.mySwiper1 .swiper-slide-next .card {
    height: 100%!important;
}

.mySwiper1 .card .card-body img {
    height: 15rem;
    object-fit: cover;
}

.mySwiper1 .card .card-body a {
    color: #5B5959;
    font-weight: 600;
}

h6.card-title {
    margin-top: 25px;
}

h5.card-titl {
    margin-top: 25px;
}


/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) { 
    .mySwiper1 .swiper-slide-next {
        height: 20rem !important;
    }

    h5.card-title.fw-bold.mb-2 {
        margin-top: 20px;
    }
}