@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0!important;
}

p {
    font-size: 0.9rem;
}

@font-face {
	font-family: 'Lora', serif;
	src: url("../fonts/lora.ttf");
}

.main-nav a {
    font-size: 0.9rem;
}

.main-nav .active {
    color: #0090FF!important;
    font-weight: 700;
}

.main-nav .nav-link {
    border-bottom: 2px solid transparent;
}

.main-nav .nav-link:hover {
    border-bottom: 2px solid #0090FF;
}

.navbar  {
    height: 75px;
}


/* Loader Screen Earth */
#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: black;
    z-index: 9999;
    flex-direction: column;
  }
  
#earth {
    width: 90px;
    height: 90px;
    background: url('../img/frontend/global.png');
    background-color: rgb(0, 185, 255);
    border-radius: 50%;
    background-size: 165px;
    animation: rotate 5s infinite linear, glow 5s infinite;
    z-index: 99;
    -webkit-box-shadow: 0px 0px 20px 15px rgba(0,144,255,1);
    -moz-box-shadow: 0px 0px 20px 15px rgba(0,144,255,1);
    box-shadow: 0px 0px 20px 15px rgba(0,144,255,1);
  }

#loading .name {
    letter-spacing: 5px;
}

@keyframes rotate {
    from { background-position:  100%  0; }
    to {   background-position:    0   0; }
}

@keyframes glow {

    0%   {box-shadow: 0px 0px 20px 15px rgba(0,144,255,1);}

    25%  {box-shadow: 0px 0px 50px 50px rgba(166,208,240,1);}

    50%  {box-shadow: 0px 0px 20px 15px rgba(0,144,255,1);}

    55%  {box-shadow: 0px 0px 20px 25px rgba(0,144,255,1);}

    60%  {box-shadow: 0px 0px 20px 15px rgba(0,144,255,1);}

    65%  {box-shadow: 0px 0px 20px 25px rgba(0,144,255,1);}

    70%  {box-shadow: 0px 0px 20px 15px rgba(0,144,255,1);}

    75%  {box-shadow: 0px 0px 20px 25px rgba(0,144,255,1);}

    80%  {box-shadow: 0px 0px 20px 15px rgba(0,144,255,1);}

    85%  {box-shadow: 0px 0px 20px 25px rgba(0,144,255,1);}

    90%  {box-shadow: 0px 0px 20px 15px rgba(0,144,255,1);}
    
    90%  {box-shadow: 0px 0px 20px 15px rgba(0,144,255,1);}

    100% {box-shadow: 0px 0px 20px 15px rgba(0,144,255,1);}
}



.dropdown-menu .dropdown-item {
    color: white;
}

.dropdown-menu {
    top: 3.5rem!important;
    font-size: 0.9rem!important;
    border: none!important;
    background-color: rgb(1, 1, 1)!important;
    color: white!important;
    border-radius: 0!important;
    border-top: 5px solid #0090FF!important;
}

.dropdown-menu .dropdown-item:hover {
    background-color:#191919;
    color: white;
}

.custom-shadow {
    box-shadow: 0 0rem 1rem rgba(0,0,0,.175);
}

.profile-wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
}






@media screen and (max-width: 576px) {
    .navbar-nav {
        margin-top: 1rem;
        text-align: center;
    }
    .navbar .nav-item {
        border-right: none;
        margin-bottom: 0.7rem;
    }
    .navbar .dropdown-toggle::after {
        display: none!important;
    }
    .nav-link {
        display: inline-block!important;
    }
    .dropdown-menu .dropdown-item {
        text-align: center;
    }
    .dropdown-menu {
        border-top: none!important;
        background-color: rgb(39, 39, 39)!important;
    }
    
    .footer {
        padding-top: 2rem!important;
        padding-bottom: 1rem!important;
    }
    .footer a, .footer p {
        font-size: 0.9rem!important;
    }
    .footer a i {
        font-size: 1.5rem!important;
    }
    .copyright p {
        font-size: 0.8rem!important;
    }
}


/*mobile-view*/
@media screen and (max-width: 767px) { 
    .navbar-nav {
        background-color: #00011c;
    }

  

}


/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-nav {
        background-color: #00011c;
    }

    h1.mb-3.mb-md-0 {
        font-size: 2rem;
    }

   

}